# .env.example
# Reemplaza los valores con tus configuraciones reales y renombra este archivo a .env

ENVIRONMENT=local
APP_PORT=8080

# Directorios de cache (ajustar segun tu sistema)
LOL_CACHE_DIR=./data/match_cache
LOL_USERS_DIR=./data/users_cache

# MONGO (DATOS CRUDOS)
MONGO_DB=lol_data
MONGO_COLLECTION_RAW_MATCHES=L0_all_raw_matches
MONGO_USER=your_mongo_user
MONGO_PASS=your_mongo_password
MONGO_ROOT_USER=root
MONGO_ROOT_PASS=root_password
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_AUTH_DB=admin
MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB}?authSource=${MONGO_AUTH_DB}
MONGO_EXPRESS_PORT=8081

# POSTGRES (DATOS PROCESADOS)
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=lol_analytics
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_URI=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
ADMINER_PORT=8082

# RIOT API
RIOT_API_KEY=YOUR_RIOT_API_KEY_HERE
REGIONAL_ROUTING=europe
COUNT_PER_PLAYER=1000
SLEEP_BETWEEN_CALLS=0.2
MIN_FRIENDS_IN_MATCH=5
QUEUE_FLEX=440
REQUEST_TIMEOUT=10
MAX_RETRIES=6

# LOGGING
LOGS_PATH=logs
LOG_LEVEL=INFO
