/* fondo general */
body, .dash-debug-menu {
    background-color: #111 !important;
    color: white !important;
    font-family: Arial, sans-serif;
}

/* evitar fondo blanco alrededor */
._dash-app, .dash-container, html {
    background-color: #111 !important;
}

/* ============================= */
/*            TABS DARK          */
/* ============================= */

.tab {
    background-color: #1b1b1b !important;
    color: #bbb !important;
    border: 1px solid #333 !important;
    padding: 12px !important;
    font-weight: bold;
}

.tab:hover {
    background-color: #2c2c2c !important;
    color: white !important;
}

.tab--selected {
    background-color: #333 !important;
    color: white !important;
    border-bottom: 3px solid #66ccff !important;
}


/* ============================= */
/*         DROPDOWN DARK         */
/* ============================= */

.Select-control {
    background-color: #222 !important;
    border: 1px solid #444 !important;
    color: white !important;
}

.Select-value-label {
    color: white !important;
}

.Select-menu-outer {
    background-color: #1e1e1e !important;
    color: white !important;
    border: 1px solid #444 !important;
}

.Select-option {
    background-color: #1e1e1e !important;
    color: white !important;
}

.Select-option:hover {
    background-color: #333 !important;
    color: white !important;
}

/* ============================= */
/*         TITULOS / LABELS      */
/* ============================= */

h1, h2, h3, h4, h5, h6, label {
    color: white !important;
}

/* ============================= */
/*           GRÁFICOS            */
/* ============================= */

.js-plotly-plot {
    background-color: #111 !important;
}

/* quitamos márgenes blancos */
.graph-wrapper, .dash-graph {
    background-color: #111 !important;
}
