.match-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    color: white;
    max-width: 1300px;
    margin: 0 auto;
}

/* HEADER */
.match-header h2 {
    margin: 0;
    font-size: 28px;
}

/* SUBHEADER BONITO */
.match-sub {
    margin-top: 10px;
    display: flex;
    gap: 25px;
    font-size: 25px;
    opacity: 0.9;
}

.sub-item {
    display: flex;
    gap: 6px;
    align-items: center;
}

.sub-label {
    font-weight: 600;
    opacity: 0.95;
}

.sub-value {
    opacity: 0.85;
}

/* TEAM BLOCK */
.team-block {
    background-color: #151515;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 24px;
    border-radius: 10px;
}

.team-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
}

/* TABLA DE JUGADORES */
.team-table {
    display: flex;
    flex-direction: column;
    gap: 12px; /* espacio entre jugadores */
}

/* HEADER DE COLUMNAS */
.header-row {
    display: grid;
    grid-template-columns:
        120px
        140px
        80px
        140px
        80px
        80px
        200px;
    gap: 8px;
    margin-bottom: 10px;
    font-weight: 700;
    opacity: 0.85;
}

.header-cell {
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
}

/* FILA DE JUGADOR */
.player-row {
    display: grid;
    grid-template-columns:
        120px   /* campeón + spells + runas */
        140px   /* nombre + rol */
        80px    /* KDA */
        140px   /* daño */
        80px    /* oro */
        80px    /* cs */
        200px;  /* items */
    gap: 8px;
    align-items: center;

    padding-top: 8px;
    padding-bottom: 8px;
}

/* BLOQUE IZQUIERDO (campeón + spells + runas) */
.left-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.spells-runes {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* NOMBRE Y ROL */
.player-name {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.player-role {
    font-size: 12px;
    opacity: 0.8;
}

/* ESTADÍSTICAS */
.stat {
    text-align: center;
}

.damage-bar {
    height: 6px;
    background-color: #3182ce;
    border-radius: 3px;
    margin-top: 6px;
    border: 1px solid #cfcfcf;
    width: 120px;
}

.small-text {
    font-size: 11px;
    opacity: 0.7;
}

/* ITEMS */
.items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.item-icon {
    width: 55px;
    height: 55px;
    margin-right: 4px;
    object-fit: contain;
    border-radius: 4px;
}

/* ICONOS */
.champ-icon {
    width: 65px;
    height: 65px;
    border-radius: 6px;
}

.spell-icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.rune-icon {
    width: 20px;
    height: 20px;
}
