.match-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    color: white;
    max-width: 1300px;
    margin: 0 auto;
}

/* HEADER */
.match-header h2 {
    margin: 0;
    font-size: 28px;
}

.match-sub {
    margin-top: 6px;
    font-size: 15px;
    opacity: 0.85;
}

/* TEAM BLOCK */
.team-block {
    background-color: #151515;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 24px;
    border-radius: 10px;
}

.team-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
}

/* PLAYER ROW */
.player-row {
    display: grid;
    grid-template-columns:
        120px   /* campeón + spells + runas */
        140px   /* nombre + rol */
        80px    /* kda */
        140px   /* daño */
        80px    /* oro */
        80px    /* cs */
        200px;  /* OBJETOS  <--- ESTA */
    gap: 8px;
    align-items: center;
}

.player-row:last-child {
    border-bottom: none;
}

.left-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.spells-runes {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.player-name {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.player-role {
    font-size: 12px;
    opacity: 0.8;
}

.stat {
    text-align: center;
}

.damage-bar {
    height: 6px;
    background-color: #3182ce;
    border-radius: 3px;
    margin-top: 6px;
    border: 1px solid #cfcfcf;
    width: 120px; /* barra global igual para todos */
}


.small-text {
    font-size: 11px;
    opacity: 0.7;
}

.items {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
}

.items img:not(.item-icon) {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}
.champ-icon {
    width: 65px;
    height: 65px;
    border-radius: 6px;
}

.spell-icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.rune-icon {
    width: 20px;
    height: 20px;
}

.item-icon {
    width: 55px;          /* antes 28–32px normalmente */
    height: 55px;
    margin-right: 4px;    /* separación horizontal */
    object-fit: contain;
}

/* Contenedor que los mantiene alineados y evitando saltos */
.items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;             /* pequeña separación entre items */
    white-space: nowrap;  /* evita que bajen de línea */
}